// @import "vars&mixins";

.passwords-form {
	@at-root %passwords-form {
		position: relative;
		background: $form-bg;
		padding-bottom: 3rem;
		margin-bottom: $line-height-base;
	}
	#content-zone & {
		@extend %passwords-form;
	}

	& + .buttons {
		padding: 0 0.3rem;
		margin-bottom: 1em;

		.btn-primary {
			width: 17rem;
			margin-right: 2rem;

			& + span {
				display: inline-block;
				vertical-align: middle;
				max-width: calc(100% - 20rem);

				@media (max-width: 480px) {
					display: block;
					margin-top: 1.3rem;
					max-width: 100%;
				}
			}
		}
	}

	.h4 {
		@include font-size-large;
		color: inherit;
		font-weight: 600;
		margin: 0 0 3.5rem;
		@extend %margins2rem;
	}

	@at-root %margins2rem {
		@media (min-width: 1200px) {
			margin-left: -4rem;
			margin-right: -4rem;
		}
	}

	// Результат отправки формы (успешно)
	& ~ .form.message_sent-ok {
		@extend %passwords-form;
		position: relative;

		& > * {
			@extend %margins2rem;
		}

		.status {
			display: block;
			padding-left: 3rem;
			color: $gray;
			font-weight: 600;

			.icon-ok {
				position: static;
				float: left;
				margin: 0 0 -0.3rem -3rem;
				font-size: 2.1rem !important;
			}
		}
	}

	@at-root %password-form-inputs-old {
		font-size: $font-size-large;
		margin-right: 0.8rem;
		padding-top: 0.2rem;
	}

	.control-group {
		z-index: auto !important;
	}
	.controls {
		input[type="text"],
		input[type="password"] {
			width: 30rem;
			body:not(.new-inputs) & {
				@extend %password-form-inputs-old;
			}
		}
	}
	.email-block + .captcha-block {
		margin-top: 3.5rem;
	}
	input[type="email"] {
		body:not(.new-inputs) & {
			@extend %password-form-inputs-old;
		}
		width: 100%;
		max-width: 42rem;
		margin-right: 0;
	}
}

// сообщения при вводе нового пароля
%transitions-all {
	transition: all 0.3s ease;
}
%iconed-small {
	padding-left: 2.4rem;

	&:before {
		content: '';
		display: block;
		float: left;
		margin-left: -2.4rem;
	}
}
%icon-small-ok {
	width: 1.4rem;
	height: 1.4rem;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAAV1BMVEUAAABCnX9CnX9CnX9CnX9CnX9CnX9CnX9CnX9CnX9CnX9CnX9CnX9CnX9CnX9CnX9CnX9CnX9CnX9CnX9CnX9CnX9CnX9CnX9CnX9CnX9CnX9CnX9CnX/AnYlGAAAAHHRSTlMA+vVMSlM/uJ5F7NakDgju5GVeyJSOiXM4IyEc2/j/HAAAAIhJREFUKM/NztsOgjAQBNAutwpFQLzr/P93Ggs4a9p9Nc7b5mQn436d/WDbXExPyy4AvFHpASBk7RHeVtxy1nTRmpwdhDZc5y87Q9kR6PWUxdp49YDSe9DmxnjtOEWZm7Aop0CqraiVj55AW1Nu6mmprlZSqDRLpXZJKqEZSkubaelvN9buD/ICXM8Q05BrU+oAAAAASUVORK5CYII=') 0 0 no-repeat;
	background-size: 100% 100%;
	margin-top: .2rem;
}
// блок с подсказкой с требованиями к паролю (на основе верстки тултипов)
.pass-tip {
	margin-top: -.3rem !important;
	width: 100%;
	max-width: 30rem;

	&:not(.in) {
		height: 0;
		overflow: hidden;
	}

	.tooltip-inner {
		padding: 1.4rem;
		margin: 0 auto;
	}
	// заголовок списка
	strong {
		display: block;
		text-align: center;
	}
	// список требований
	ul {
		margin: 1rem 0 0;
		padding: 0;

		li {
			@extend %iconed-small;
			margin: .4rem 0 0;
			list-style-type: none;

			// красный «минус» (требования не выполнены)
			&:before {
				margin-top: .7rem;
				width: 1.2rem;
				height: .2rem;
				background: $red;
				border-radius: .1rem;
			}
			// зеленая «галочка» (требования выполнены)
			&.valid:before {
				@extend %icon-small-ok;
			}
		}
	}
	// сообщение о вводе недопустимых символов в подсказке .pass-tip
	.error-msg {
		font-size: $font-size;
		line-height: $line-height-base;
		margin-bottom: 1rem;
	}
}

.pass-verify {
	margin-top: .4rem;
	@extend %transitions-all;

	&.success{
		@extend %iconed-small;
		color: $green;

		&:before {
			@extend %icon-small-ok;
			@media (min-width: 768px) {
				margin-top: .5rem;
			}
		}
	}
	&.failed {
		@extend %iconed-small;
		color: $red;

		&:before {
			@extend %icon-small-ok;
			background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcBAMAAACAI8KnAAAALVBMVEUAAAC7Fx27Fx27Fx27Fx27Fx27Fx27Fx27Fx27Fx27Fx27Fx27Fx27Fx27Fx135XjAAAAADnRSTlMAY2peJqc3A62fQ0EGAjtjErgAAACUSURBVBjTXc6xDcJQDEXRS5QKhMQEGQExQioaBqBDKViBNWhZgGFYI0IUNJ4hsd6zIsWF/7dOc1nP/o3nkusTB11NXIFnjDqP8YNdhLiZPwPtvEdhRA9dsvALbJKFJzAbi43FxmKj2Whe0EFOc63TFjQbi13bmV3rciMUu9bcCsU9W6F4gFui+A88EsWvfO54zqxnAn2PihGFIe86AAAAAElFTkSuQmCC');
			@media (min-width: 768px) {
				margin-top: .5rem;
			}
		}
	}
}

@media (max-width: 979px) {
	.passwords-form {
		#content-zone & {
			padding-left: 2rem;
			padding-right: 2rem;
		}

		.h4,
		& ~ .form.message_sent-ok > * {
			margin-left: 0;
			margin-right: 0;
		}
		& ~ *:last-child {margin-bottom: 4rem;}
	}
}

@media (max-width: 767px) {
	.passwords-form {
		#content-zone & {
			padding-left: 1.3rem;
			padding-right: 1.3rem;
		}
		.h4 {margin-top: 0;}
	}
	.pass-verify {
		@include font-size-small;
	}
}

@media (max-width: 639px) {
	.pass-tip {
		max-width: 100%;
	}
	%justify-input {
		width: 100%;
		max-width: 100%;
	}

	.passwords-form {
		input[type="text"],
		input[type="password"] {
			&:not(.captcha-inp) {
				@extend %justify-input;
			}
		}
		input[type="email"] {
			@extend %justify-input;
		}
	}
}

@media (max-width: 480px) {
	.passwords-form {
		.h4 {line-height: 1.25;}
	}
}

@import "passfield";

.a_pf-btn-mask.a_pf-btn {
	@include icons;
	font-size: $icon-size-mid;
	cursor: pointer;
	color: $gray;
	background: $form-bg;
	height: $input-line-height !important;
	z-index: 1;

	.modal-body &, .login-block & {
		background: #fff;
	}
	.focused-block & {
		background: $blue-invert;
	}

	&:hover, &:active {
		color: $text-color;
	}

	& ~ input {
		z-index: 0;
	}
}
